# Fennec {{ version }}

### Started {{ date }}

{% for build in builds %}
## Build {{ build['buildnum'] }}

### Status

- [{% if build["human_tasks"]['submitted_shipit'] %}x{% endif %}] [submit to Shipit](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It)
- [{% if build["human_tasks"]['pushed_mirrors'] %}x{% endif %}] [pushed to mirrors/releases](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates#Push_to_mirrors)
- [{% if build["human_tasks"]['post_released'] %}x{% endif %}] [post-release tasks](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates_through_Shipping#Post-release_tasks)

### Issues

{% for issue in build["issues"] %}
- {{ issue }}
{% endfor %}

{% if build['aborted'] %}
**aborted release. starting new build num**
{% endif %}

{% endfor %}
