{
    "version": "",
    "date": "",
    "product": "fennec",
    "builds": [{
        "buildnum": 1,
        "aborted": false,
        "human_tasks": {
          "submitted_shipit": false,
          "pushed_mirrors": false
        },
        "issues": []
    }]
}
