{
    "version": "",
    "date": "",
    "product": "fennec",
    "builds": [{
        "buildnum": 1,
        "aborted": false,
        "human_tasks": {
          "shipit": false,
          "mirrors": false,
          "publish": false
        },
        "issues": []
    }]
}
