{
    "version": "",
    "date": "",
    "product": "fennec",
    "builds": [{
        "buildnum": 1,
        "aborted": false,
        "graphid": "",
        "human_tasks": {
          "submitted_shipit": false,
          "graph": false,
          "emailed_localtest": false,
          "pushapk": false,
          "published_release": false
        },
        "issues": []
    }]
}
