# Beta: Fennec {{ version }}

### Started {{ date }}

{% for build in builds %}
## Build {{ build['buildnum'] }}
{% if build['aborted'] %}
:bomb: _**aborted release. starting new build num**_ :bomb:
{% endif %}


### Beta Graph
{% if build['graphid'] %}
- [task group 1](https://tools.taskcluster.net/push-inspector/#/{{ build['graphid'] }})
{% else %}
- first task graph url: unknown
{% endif %}
{% if build['graphid_2'] %}
- [task group 2](https://tools.taskcluster.net/push-inspector/#/{{ build['graphid_2'] }})
{% else %}
- second task graph url: unknown
{% endif %}

### Status
- [{% if build["human_tasks"]['shipit'] %}x{% else %} {% endif %}] [submit to Shipit](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It)
- [{% if build["human_tasks"]['graph'] %}x{% else %} {% endif %}] [manually kick off graph](https://github.com/mozilla/releasewarrior/blob/master/how-tos/fennec-temp-relpro.md#start-off-the-fennec-graph)
- [{% if build["human_tasks"]['candidates'] %}x{% else %} {% endif %}] emailed candidates
- [{% if build["human_tasks"]['pushapk'] %}x{% else %} {% endif %}] [run pushapk](https://github.com/mozilla/releasewarrior/blob/master/how-tos/fennec-temp-relpro.md#run-pushapk-manually)
- [{% if build["human_tasks"]['publish'] %}x{% else %} {% endif %}] [published release tasks](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates_through_Shipping#Post-release_tasks)

### Issues
{% for issue in build["issues"] %}
- {{ issue }}
{% endfor %}
{% if not build["issues"] %}
- none
{% endif %}
{% endfor %}
