{
    "version": "",
    "date": "",
    "product": "firefox",
    "builds": [{
        "buildnum": 1,
        "aborted": false,
        "graphid": "",
        "human_tasks": {
          "submitted_shipit": false,
          "pushed_mirrors": false,
          "published_balrog": false,
          "post_released": false
        },
        "issues": []
    }]
}
