# Release: Firefox {{ version }}
## Date: {{ date }}

{% for build in builds %}
## Build {{ build['buildnum'] }}

### Status
{% if build['graphid'] %}
![task graph](https://tools.taskcluster.net/task-group-inspector/#{{ build['graphid'] }})
{% else %}
task graph url: unknown
{% endif %}
- [{% if build['submitted_shipit'] %}x{% endif %}] [submit to Ship It](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It)
- [{% if build['emailed_cdntest'] %}x{% endif %}] [post release tasks](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Updates_through_Shipping#Post-release_tasks)
- [{% if build['published_balrog'] %}x{% endif %}] [Publish in Balrog ](how-tos/relpro.md)
- [{% if build['post_released'] %}x{% endif %}] [Post-release tasks](how-tos/relpro.md

### Issues
{% for issue in build['issues'] %}
- {{ issue }}
{% endfor %}

{% if build['aborted'] %}
**aborted release. starting new build num**
{% endif %}

{% endfor %}
