# Release: Firefox {{ version }}

### Started: {{ date }}

{% for build in builds %}
## Build {{ build['buildnum'] }}

### Release Graph
{% if build['graphid'] %}
![task graph](https://tools.taskcluster.net/task-group-inspector/#{{ build['graphid'] }})
{% else %}
task graph url: unknown
{% endif %}

#### Status
- [{% if build["human_tasks"]['submitted_shipit'] %}x{% else %} {% endif %}] [submit to Shipit](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It)
- [{% if build["human_tasks"]['emailed_cdntest'] %}x{% else %} {% endif %}] [emailed cdntest](how-tos/relpro.md)
- [{% if build["human_tasks"]['pushed_mirrors'] %}x{% else %} {% endif %}] [pushed to mirrors/releases](how-tos/relpro.md)
- [{% if build["human_tasks"]['published_balrog'] %}x{% else %} {% endif %}] [publish in Balrog](how-tos/relpro.md)
- [{% if build["human_tasks"]['post_released'] %}x{% else %} {% endif %}] [post-release tasks](how-tos/relpro.md

### Issues
{% for issue in build['issues'] %}
- {{ issue }}
{% endfor %}
{% if not build["issues"] %}
- none. flawless victory
{% else %}

{% if build['aborted'] %}
:bomb: _**aborted release. starting new build num**_ :bomb:
{% endif %}

{% endfor %}
