# Release: Firefox {{ version }}

### Started: {{ date }}

{% for build in builds %}
## Build {{ build['buildnum'] }}

### Release Graph
{% if build['graphid'] %}
[task group](https://tools.taskcluster.net/push-inspector/#/{{ build['graphid'] }})
{% else %}
task graph url: unknown
{% endif %}

#### Status
- [{% if build["human_tasks"]['shipit'] %}x{% else %} {% endif %}] [submit to Shipit](https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#Submit_to_Ship_It)
- [{% if build["human_tasks"]['localtest'] %}x{% else %} {% endif %}] [emailed release-localtest](../how-tos/relpro.md#1-email-drivers-re-release-live-on-test-channel)
- [{% if build["human_tasks"]['mirrors'] %}x{% else %} {% endif %}] [pushed to mirrors/releases](../how-tos/relpro.md#2-push-to-releases-dir-mirrors)
- [{% if build["human_tasks"]['publish'] %}x{% else %} {% endif %}] [published release tasks](../how-tos/relpro.md#3-publish-release)

### Issues
{% for issue in build['issues'] %}
- {{ issue }}
{% endfor %}
{% if not build["issues"] %}
- none
{% endif %}

{% if build['aborted'] %}
:bomb: _aborted release. starting new build num_ :bomb:
{% endif %}

{% endfor %}
