{
    "version": "",
    "date": "",
    "product": "firefox",
    "builds": [{
        "buildnum": 1,
        "aborted": false,
        "graphid": "",
        "graphid_2": "",
        "human_tasks": {
          "shipit": false,
          "beta": false,
          "wnp": false,
          "mirrors": false,
          "signoff": false,
          "publish": false
        },
        "issues": []
    }]
}
