{
    "version": "",
    "date": "",
    "builds": [{
        "buildnum": 1,
        "aborted": false,
        "graphid": "",
        "submitted_shipit": false,
        "emailed_cdntest": false,
        "published_balrog": false,
        "post_released": false,
        "issues": []
    }]
}
