# Postmortem {{ date }}

## Completed Releases
{% for release in complete_releases %}
## Release: {{ release["product"].capitalize() }} {{ release["version"] }} {{ release["date"] }}

{% for build in release['builds'] %}
## Buildnum {{ build["buildnum"] }}
### Issues
{% for issue in build["issues"] %}
- {{ issue }}
{% endfor %}
{% if not build["issues"] %}
- none. flawless victory
{% endif %}

{% endfor %}

{% endfor %}

## Incomplete Releases
{% for release in incomplete_releases %}
## Release: {{ release["product"].capitalize() }} {{ release["version"] }} {{ release["date"] }}

{% for build in release['builds'] %}
## Buildnum {{ build["buildnum"] }}
### Issues
{% for issue in build["issues"] %}
- {{ issue }}
{% endfor %}
{% if not build["issues"] %}
- good so far...
{% endif %}

{% endfor %}

{% endfor %}

## Roundtable
- All topics in [Our Trello Board](https://trello.com/b/MXHaVRcP/release-promotion-meeting).
- [Release Automation Improvements trello board](https://trello.com/b/BqnBcfXX/release-automation-improvements).
